@font-face {
  font-family: "Lemon";
  src: url("fonts/Lemon-Regular.woff") format('woff');
}

@font-face {
  font-family: "Lemon";
}

@font-face {
  font-family: "Playball";
  src: url("fonts/Playball-Regular.woff") format('woff');
}

@font-face {
  font-family: "Playball";
}

@font-face {
  font-family: "Alegreya";
  src: url("fonts/Alegreya-Regular.woff") format('woff');
}

@font-face {
  font-family: "Alegreya";
  src: url("fonts/Alegreya-Italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
}

body {
  margin: 3rem;
  background-color: #E8E8E8;
  text-align: justify
}

#header {
  font-family: Lemon;
  text-align: center;
  color: #BF6B99;
  padding: 1cm
}

.h2 {
  font-family: Playball;
  color: #BF6B99;
  text-align: center; 
  font-size: 4ch;
  justify-content: center;
}

.p1 {
  font-family: Alegreya;
  color: #BF6B99;
  justify-content: center;
  text-align: center; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

img {
  border-radius: 50%;
  background-color: #BF6B99;
}

.image-content, text {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.responsive-img2 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 900px;
  margin: 0 auto;
  margin-right: 20px;
}

.image-content2, .text2 {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.h2-2 {
  font-family: Playball;
  color: #BF6B99;
  text-align: center; 
  font-size: 4ch;
  justify-content: center;
}

.list {
  font-family: Lemon;
  color: #BF6B99;
  justify-content: center;
  font-size: 2ch;
  justify-content: center;

}

.ol {
  font-family: Alegreya;
  color: #BF6B99;
  font-size: medium;
}

a:link {
  color: #D698B7;
}

a:hover {
  background-color: #BF6B99;

}