@font-face {
  font-family: "Lemon";
  src: url("fonts/Lemon-Regular.woff") format('woff');
}

@font-face {
  font-family: "Lemon";
}

@font-face {
  font-family: "Playball";
  src: url("fonts/Playball-Regular.woff") format('woff');
}

@font-face {
  font-family: "Playball";
}

@font-face {
  font-family: "Alegreya";
  src: url("fonts/Alegreya-Regular.woff") format('woff');
}

@font-face {
  font-family: "Alegreya";
  src: url("fonts/Alegreya-Italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
}

body {
  margin: 1rem;
  background-color: #E8E8E8;
  text-align: justify
}

#header {
  font-family: Lemon;
  text-align: center;
  color: #BF6B99;
  padding: 1cm
}

img {
  border-radius: 50%;
  background-color: #BF6B99;
}

.image-content, text {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.img1 {
  margin-left: 30px;
  width: 100%;
  height: auto;
  display: block;
  max-width: 100px;
  margin: 100px auto;
}


