@font-face {
  font-family: "Lemon";
  src: url("fonts/Lemon-Regular.woff") format('woff');
}

@font-face {
  font-family: "Lemon";
}

@font-face {
  font-family: "Playball";
  src: url("fonts/Playball-Regular.woff") format('woff');
}

@font-face {
  font-family: "Playball";
}

@font-face {
  font-family: "Alegreya";
  src: url("fonts/Alegreya-Regular.woff") format('woff');
}

@font-face {
  font-family: "Alegreya";
  src: url("fonts/Alegreya-Italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
}

body {
  margin: 3rem;
  background-color: #E8E8E8;
  text-align: justify
}

#header {
  font-family: Lemon;
  text-align: center;
  color: #BF6B99;
  padding: 1cm
}

.h2 {
  font-family: Playball;
  color: #BF6B99;
  text-align: center; 
}

.p1 {
  font-family: Alegreya;
  color: #BF6B99;
  justify-content: center;
  text-align: center; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  border-radius: 50%;
  background-color: #BF6B99;
}

.image-content, text {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.img1 {
  margin-left: 30px;
  width: 100%;
  height: auto;
  display: block;
  max-width: 100px;
  margin: 100px auto;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.responsive-img2 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

